body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden
}
.separator {
    height: 2px;
    background-color: #002034
}
p {
    cursor: default
}
a {
    cursor: pointer;
    text-transform: uppercase;
}
button {
    cursor: pointer;
    text-transform: uppercase
}
.item_link {
    color: #002034;
    text-decoration: none;
}
.item_link:hover {
    /* Because bootstrap enables underline and changes colors */
    color: #002034;
    text-decoration: none;
}
.caps .caption {
    display: inline-block;
    font-size: 27.25px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin: 0;
}
.caps {
    text-align: center;
    text-transform: uppercase
}
.filter .caption {
    font-weight: 100;
    font-size: 22px
}
.header {
    /* because bootstrap makes padding (.5rem 1rem) */
    padding: 0 1rem!important;
}
.header .left {
    display: inline-block
}
.header .logo {
    margin-right: 20px
}
.header .logo .logo_image {
    margin-top: 15px;
}
.header .contacts {
    display: inline-block;
    color: #7b8792;
}
.header .contacts .small {
    color: gray;
    text-transform: lowercase;
    display: block;
    font-size: 14.25px;
    line-height: 14.25px
}
.header .menu .list {
    padding-left: 0px;
    list-style: none;
    vertical-align: middle;
    margin: 0;
}
.header .menu .list .item {
    display: inline-block;
    vertical-align: middle;
}
.header .menu .list .item .item_link {
    line-height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    color: #7b8792;
    margin: 0 10px;
    border-bottom: 2px #2c3e50 solid
}
.header .menu .list .item .item_link:hover {
    border-bottom-color: #da2536
}
.blank {
    height: 500px;
    position: relative;
}
.blank .bg {
    position: absolute;
    width: 100%;
    background-color: #3a3a3a;
    background-size: cover;
    background-position: center;
    font-size: 0;
}
.blank .draggable {
    width: 100%;
    height: 100%
}
.blank .draggable .slick-track {
    width: 100%;
    height: 100%
}
.blank .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    border-width: 0;
    padding: 10px;
    margin: 0 15px;
    color: white;
    z-index: 1;
    outline: none;
}
.blank .slick-prev {
    left: 0;
}
.blank .slick-next {
    right: 0;
}
.calc {
    margin: 75px 0;
}
.calc .caps .caption {
    margin: 0 0 70px 0;
    color: #2c3e50;
    border-bottom-color: #24c2cb
}
.calc .calc-wrapper {
    justify-content: center;
}
.calc .range {
    display: inline-block;
}
.calc .slider-caption {
    font-size: 21.17px;
    width: 100%;
}
.calc .slider-caption .range-help {
    display: inline-block;
    margin: 0;
}
.calc .slider-caption .left {
    float: left;
}
.calc .slider-caption .right {
    float: right;
}
.calc .slider-caption .right .total {
    font-size: 21.17px;
    width: 40px;
    background-color: #002034;
    border: 0px;
    color: white
}
.calc .volume {
    height: 3rem;
    position: relative
}
.calc .volume .slider-input {
    width: 100%;
    position: relative;
    top: -10px;
    -webkit-appearance: none;
    height: 2px;
    background: #24c2cb;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s
}
.calc .volume .slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #002034;
    cursor: pointer
}
.calc .volume .slider-input::-moz-range-thumb {
    appearance: none;
    border-radius: 0;
    border: none;
    width: 15px;
    height: 15px;
    background: #002034;
    cursor: pointer
}
.calc .volume .slider-input::-moz-range-track{
    background-color: #24c2cb;
    height: 2px;
}
.calc .volume .slider-input::-moz-range-progress{
    background-color: #002034;
    height: 2px;
}
.calc .volume .slider-output {
    display: block;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    font-size: 21.17px;
    background: #002034;
    color: white;
    padding: 0 5px
}
.calc .volume .slider-level {
    position: absolute;
    left: 0px;
    bottom: 7px;
    height: 2px;
    background-color: #002034
}
.calc .calc-wrapper div {} .calc .fastcheck {
    display: inline-block
}
.calc .fastcheck .fastcheck-p {
    font-size: 17.25px;
    margin: 0;
    display: inline-block
}
.calc .fastcheck .fast-block {
    vertical-align: top;
    display: block;
    margin: 5px
}
.calc .fastcheck .dark {
    float: right;
    margin: 0 0 0 5px;
    padding: 0 5px;
    background-color: #002034;
    border: 0px;
    color: white;
    text-align: right;
    display: inline-block
}
.calc .order-btn {
    margin-left: 30px;
    vertical-align: top;
    display: inline-block
}
.calc .order-btn .order {
    margin-top: 3px;
    background-color: #da2536;
    color: white;
    border: 0px;
    width: 100px;
    height: 30px
}
.calc .order-btn .order:hover {
    background-color: white;
    border: 1px solid #da2536;
    color: #da2536;
}
.present {
    background-color: #002034;
    text-align: center;
}
.present .present_wrapper {
    flex-direction: row;
    padding: 50px 0;
    margin: 0;
    justify-content: center;
}
.present .present_article {
    position: relative;
    display: block;
    padding: 0 10px;
}
.present .present_article .wrapper {
    position: absolute;
    left: 10px;
    top: calc(50% - 32px);
}
.present .present_article .desc {
    display: inline-block;
    max-width: 70%;
    vertical-align: top;
    margin-left: 70px;
}
.present .present_article .desc_caption {
    font-size: 21.16px !important;
    margin: 0 0 20px 0 !important;
    text-transform: uppercase
}
.present .present_article .desc_p {
    display: block;
    color: white;
    font-size: 17.49px;
    text-align: left;
    margin: 0;
}
.present .present_article .present_icon {} .make {
    margin: 80px 120px 60px 120px;
}
.make .caps .caption {
    color: #002034;
    border-bottom-color: #da2536;
    margin-bottom: 30px;
}
.make .make_article {
    font-size: 17.25px
}
.make .make_article .make_main {
    /*    margin: 15px 10px*/
}
.make .make_article .make_add {
    margin: 0;
}
.make .make_article .make_prices {
    height: 30px;
    width: 120px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #da2536;
    color: #da2536;
    text-transform: uppercase;
    margin: 20px 10px;
}
.make .make_article .make_prices:hover {
    background-color: #da2536;
    color: white;
}
.stuff {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0
}
.stuff .stuff-image {
    width: 25%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background-size: cover;
    background-position: center
}
#stuff-desc {
    position: absolute;
    left: 0;
    background-color: #24c2cb;
    font-size: 14px;
    color: white
}
#stuff-desc .wrapper {
    display: grid;
    height: 100%;
    width: 100%
}
#stuff-desc .wrapper .desc_p {
    width: 40%;
    margin: 20px auto 0 auto;
}
#stuff-desc .wrapper .desc_btn {
    width: 40%;
    margin: 0 auto;
    color: white;
    height: 30px;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid white;
}
#stuff-desc .wrapper .desc_btn:hover {
    background-color: white;
    color: #24c2cb
}
.filter {
    display: inline-block;
    color: white;
    top: 0;
    font-size: 14px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 32, 52, 0.65)
}
.stuff .filter {
    text-transform: uppercase;
    text-align: center
}
.stuff .filter .caption {
    margin: 80px 0
}
.examples {
    margin: 65px 130px
}
.examples .caps .caption {
    border-bottom-color: #da2536;
    color: #002034;
    margin-bottom: 40px;
}
.examples .column {
    vertical-align: top;
    width: 32%;
    display: inline-block
}
.examples .column .image {
    position: relative;
    width: 100%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.examples .column .image .wrapper {
    cursor: pointer;
    width: 100%;
    height: 100%
}
.examples .column .image .yt {
    width: 69px;
    height: 49px;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
    display: block;
    margin: auto
}
.examples .column p {
    word-wrap: break-word
}
.examples .column .light {
    color: #adadad;
    margin: 5px 0 0 0;
    font-size: 14.87px
}
.examples .columns .title {
    color: .2c3e50;
    font-size: 16.82px
}
.examples .columns .review {
    font-size: 16.82px;
    color: #7a7b7d;
    margin: 0
}
.examples .columns .comment {
    color: #7a7b7d;
    margin-top: 5px;
    width: 90%;
    font-size: 13.9px
}
.examples .columns .slick-arrow {
    display: none !important;
}
.examples .columns .slick-dots {
    padding: 0;
    list-style: none;
    text-align: center;
}
.examples .columns li {
    display: inline-block;
}
.examples .columns li button {
    width: 15px;
    height: 15px;
    border: none;
    margin: 5px;
    background-color: lightgray;
}
.examples .columns .slick-active button {
    background-color: #002034;
}
.warranty {
    padding: 55px 109px 50px 109px;
    background-color: #da2536;
    color: white
}
.warranty .caps .caption {
    font-size: 22.25px;
    color: white;
    border-bottom-color: white;
}
.warranty .warranty_p {
    font-size: 15.25px;
    margin: 25px 0;
}
.warranty .order-btn {
    text-align: center
}
.warranty .order-btn .order {
    padding: 0 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase
}
.warranty .order-btn .order:hover {
    color: #da2536;
    background-color: white
}
.comp {
    margin: 20px 100px 60px 100px
}
.comp .caps .caption {
    color: #002034;
    margin: 50px 0;
    border-bottom-color: #24c2cb;
}
.comp .type {
    padding: 0;
    margin: 0 0 30px 0;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.comp .type .item {
    text-transform: uppercase;
    display: table-cell;
    text-align: center;
}
.comp .type li a:hover {
    border-bottom: 2px solid #2c3e50;
}
.comp .list {
    text-align: center
}
.comp .list .bg {
    background-position: center;
    background-size: cover;
    width: 30%;
    display: inline-block
}
.comp .list .bg .filter {
    height: 230px
}
.comp .list .bg .filter p {
    display: inline-block;
    border: 2px solid white;
    padding: 5px 15px;
    margin: 95px auto;
}
.call {
    margin: 50px 100px;
    text-align: center
}
.call .in {
    font-size: 0;
    vertical-align: middle
}
.call .in .call_in {
    height: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle
}
.call .in .call_input {
    width: 230px;
    padding: 0;
    background-color: transparent;
    border: 2px solid #da2536;
    box-sizing: border-box;
    padding: 0 10px
}
.call .in .call_btn {
    color: white;
    border: 2px solid #da2536;
    background-color: #da2536;
}
.call .in .call_btn:hover {
    background-color: #b80314;
}
.call .in .icon {
    height: 24px;
    margin-left: 10px
}
.work {
    padding: 50px 100px 80px 100px;
    background-color: #002034;
    color: white;
    font-size: 0
}
.work .caps {
    font-size: 20.95px;
    margin-bottom: 30px;
}
.work .caps .caption {
    border-bottom-width: 0px;
    margin: 0;
}
.work .how {
    display: flex;
}
.work .how_card {
    flex: 1;
    vertical-align: top;
    display: block
}
.work .how_card .image {
    border: 2px solid white;
    border-left-width: 1px;
    border-right-width: 1px;
    background-color: #002034;
    height: 132px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.work .how_card .image:hover {
    /*    box-shadow: 0 0 50px black;*/
    transform: scale(1.1);
}
.work .how_card .image .image_svg {} .work .how_card .inst {
    font-size: 12.25px;
    text-transform: uppercase;
    margin: 15px 20px
}
.work .how_card .first {
    border-left-width: 2px
}
.work .how_card .last {
    border-right-width: 2px
}
.wabout {
    position: relative;
    margin: 50px 100px
}
.wabout .left {
    display: inline-block;
    width: 50%;
    font-size: 17.25px;
    text-transform: none
}
.wabout .left .title {
    border-bottom-color: #da2536;
    font-size: 18.25px;
    margin: 0
}
.wabout .title {
    border-bottom: 2px solid white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20.95px
}
.wabout .right .title {
    margin-top: 0
}
.wabout .right {
    display: inline-block;
    position: absolute;
    right: 0;
    color: white;
    background-color: #da2536;
    text-transform: uppercase
}
.wabout .rightwrapper {
    margin: 30px
}
.wabout .right .input {
    margin-bottom: 15px;
}
.wabout .right .input .field,
.wabout .right .input .hint {
    display: inline-block
}
.wabout .right .input .field {
    height: 30px;
    background-color: white;
    padding: 0 10px
}
.wabout .right .input .field:hover::-webkit-input-placeholder {
    color: #da2536
}
.wabout .right .input .field:hover::-moz-placeholder {
    color: #da2536
}
.wabout .right .input .hint {
    font-size: 17.25px;
    margin: 0 0 0 10px
}
.wabout .right .send {
    background-color: white;
    color: #da2536;
    height: 30px;
    margin-top: 5px;
    text-transform: uppercase;
    padding: 0 20px;
    border: none
}
.wabout .right .send:hover {
    background-color: #da2536;
    color: white;
    border: 1px solid white;
}
.about {
    background-image: url(img/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.about .wrapper {
    margin: 50px 100px 80px 100px
}
.about .title {
    border-bottom: 2px solid white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18.25px
}
.about .text {
    font-size: 17.25px
}
.maps {
    position: relative;
}
.maps .time {
    position: absolute;
    background: white;
    width: 400px;
    top: 55px;
    left: 120px;
    padding: 30px;
    font-size: 17.25px;
    font-weight: 600;
}
.maps .time .caps {
    text-align: left;
}
.maps .time .caps .caption {
    font-size: 17.25px;
    border-bottom-color: #24c2cb;
}
.maps .time .text {
    margin: 0;
}
.maps .time .address {
    margin-top: 15px;
}
.maps .time .phone {
    margin-top: 60px;
}
.maps .time .hours {
    margin-bottom: 10px;
}
.maps .ymaps {
    width: 100%;
    height: 470px;
    margin: 0
}
.footer {
    width: 100%;
    background-color: #7a7b7d;
    margin: 0;
    padding: 0;
}
.footer .footer_wrapper {
    padding: 15px 0;
    display: table;
    width: 100%;
    list-style: none;
    color: white;
    font-size: 13.43px;
    margin-bottom: 0;
}
.footer .item {
    display: table-cell;
    text-align: center;
    margin: 0 5%;
    padding: 0;
    vertical-align: middle
}
.footer .item .item_p {
    margin: 0;
}
.footer .item .item_link {
    color: white;
}

@media screen and (max-width: 768px) {
    .header .contacts {
        display: block !important;
        margin-top: 10px;
        text-align: center;
    }
    .header .menu .list {
        margin: 0 auto!important;
    }
    .header .menu .list .item {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .header .menu .list .item .item_link {
        line-height: 0px;
    }
    .calc .calc-wrapper .fastcheck .fast-block {
        text-align: left;
        display: block
    }
    .warranty {
        padding-left: 20px;
        padding-right: 20px;
    }
    .comp {
        margin: 20px 0 60px 0!important;
    }
    .work .how {
        flex-direction: column;
        text-align: center;
    }
    .work .how .how_card {
        width: 200px;
        margin: 0 auto 10px auto;
    }
    .call {
        margin-left: 0!important;
        margin-right: 0!important
    }
    .stuff .stuff-image {
        width: 100%;
        height: 25%;
        display: block;
    }
    .stuff #stuff-desc {
        top: 0;
    }
    .comp .type {
        display: block;
        text-align: center;
    }
    .comp .type .item {
        display: inline-block;
    }
    .make, .examples, .work, .wabout, .about .wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
    .wabout .left {
        width: auto;
    }
    .wabout .right {
        position: static;
    }
    .maps .time {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
    .footer .footer_wrapper {
        display: block;
    }
    .footer .footer_wrapper .item {
        display: block;
    }
    .work .how .card {}
}
@media screen and (max-width: 992px) {
    .present .present_wrapper{
        padding-top: 0;
    }
    .present .present_article .wrapper {
        position: static;
        margin: 20px auto 50px auto;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .present .present_article .desc .desc_p {
        text-align: center;
    }
    .present .present_article .desc {
        margin-left: 0;
        max-width: 100%;
    }
}

@-moz-document url-prefix() {
    .calc .range .volume .slider-level{
        display: none;
    }
    .calc .range .volume .slider-input{
        background-color: transparent;
    }
}